.bkg {
  align-self: center;
  padding: auto;
  margin: auto;
}

.imgcard {
   background-image: url(../Images/gphoto.jpg);
   background-size: cover;
   background-position: center;
   position: relative;
   height: 640px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.588); /* Adjust transparency */
  z-index: 1;
}

.parentt {
  position: relative;
  z-index: 100;
  color: white;
  text-align: center;
  justify-content: center;
  padding-top: 150px;
  margin: auto; 
}

.title {
  font-weight: bold;
  font-size: 68px;
  color:  #ffffff;
  line-height: 1.3;
  z-index: 100;
}

.par {

  font-size: 18px;
  color:#f99746;
  text-align: center;
  
}
.dimgg{
  flex: 100%;
}
.imgg{
  width:100%;
  height: 85vh;
  object-fit: contain;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  justify-content: space-around;
  background-color:rgb(237, 245, 255) ;
}

.about img {
  width: 440px;
  height: 370px;
  margin-bottom: 50px;
}

.prdct {
  display: flex;
  align-content: center;
  /* justify-content: space-between; */
  color: #1f2478 !important;
  text-align: center;
}

.link3 {
  display: inline-block;
  /* width: 20%; */
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin: auto;
  margin-top: 20px;
  padding: 13px 17px;
  border: 0;
  background-color:#f99746;
 
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 3px;

}

.link3:hover {
  transform: translateY(-10px);
}

.link2 {
  text-decoration: none;
  color:#16023f;
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
  position: relative;
  /* align-items:right;
  justify-content: end; */
  text-align: right;
}

.link2:hover {
  text-decoration: underline;
  transform: translateY(-10px);
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.h3text {

  font-size: 2.5rem;
  color:#16023f;
  font-weight: 600;
  text-align: center;
}

.textp {
  display: inline-block;
  margin-top: 5px;
  font-size: 20px;
  color: 969696;
}
.whychooseus{
  background-color: #ffffff ;
}
.cardds {
  display: flex;
  justify-content: space-around;
  color: #16023f;
}
.cardh{
  font-weight: bold;
}
.cardcont {
  width: 22%;
  border-radius: 10px;
  color:#16023f;
  font-size: 1.1rem;
 
}

@media(max-width: 768px) {
  .parentt {
    padding-top: 110px;

  }

  .imgcard {
    height: 500px;
    ;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: auto;
    margin-bottom: 30px;
  }

  .about img {
    align-self: center;
  }

  .cardds {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardcont {
    width: 90%;
    margin-bottom: 30px;
  }
  .imgcard {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    height: auto;
  }
}


p{
  font-family: Open Sans;
}
